<%= form_for @entry, html: {class: "pure-form", 'data-no-turbolink' => 'true'} do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prevented this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field( :author, :value => current_user.id) %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
	<%= f.label :content %><br>
	<%= f.text_area :content, :class => 'ckeditor' %>
	
  </div>
  <div class="actions">
    <%= f.submit :class => "pure-button" %>
  </div>
<% end %>
