<header class="pure-g-r">
	<h1 class="pure-u-1">Listing entries</h1>
	<% if user_signed_in? %>
	<nav class="pure-u-1">
		<%= link_to 'New Entry', new_entry_path, {:class => "pure-button"} %>
	<nav>
	<% end %>
</header>
<article class="pure-g-r">
	<% @entries.each do |entry| %>
	<section class="pure-u-4-5">
		<h2><%= link_to entry.title, entry %></h2>
		<time datetime="<%= entry.created_at.to_formatted_s(:unambiguous) %>"><%= entry.created_at.to_formatted_s(:short_date_only) %></time>
		<%= entry.content.html_safe %>
	</section>
	<% end %>
	

	<aside class="pure-u-1-5">
		<table>
			<thead>
				<tr>
					<!-- <th>Author</th>
		      		<th>Content</th> -->
		      		<th>Title</th>
					<th>Date Posted</th>
					<!-- ><th colspan="3">Actions</th> -->
				</tr>
			</thead>
			<tbody>
		    	<% @entries.each do |entry| %>
		      	<tr>
		        	<!-- <td><%= entry.author %></td>
		        	<td><%= entry.content %></td> -->
		        	<td><%= link_to entry.title, entry %></td>
					<td><%= entry.created_at.to_formatted_s(:short_date_only) %></td>
		        	<!--<td><%= link_to 'Edit', edit_entry_path(entry) %></td>
		        	<td><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
				</tr>
				<% end %>
			</tbody>
		</table>
	</aside>
</article>