<article class="pure-g-r">
	<section class="pure-u-1">
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @entry.author %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>



	</section>
</article>