
<article class="pure-g-r">
	<section class="pure-u-1">
		
<p id="notice"><%= notice %></p>

<hgroup>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_entry_path(@entry), :class => "pure-button" %>
	<% end %>
<h2>
  <%= @entry.title %>
</h2>
<p>
  <strong>Author:</strong>
  <%= User.find(@entry.author).name %>
</p>


</hgroup>

<%= @entry.content.html_safe %>




	</section>
</article>